.frames-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.frames-section {
    width: 99%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1.5px solid lightgrey;
}

.header-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 323px !important;
    height: 154.63px !important;
    padding: 22px;
    border: 1.5px solid transparent;
    transition: all ease-in-out .5s;
}

img:hover {
    transition: all ease-in-out .5s;
    border: 1.5px solid lightgrey;
    border-radius: 15px;
}

.frames-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;   
}

.frames-carousel>img {
    width: 363px;
    height: 156px;
    padding: 20px;
}

mat-icon {
    transform: scale(2.5);
    fill: gray;
    transition: all ease-in-out .5s;
}

mat-icon:hover {
    transform: scale(2.5);
    fill: black;
    transition: all ease-in-out .5s;
}

.headline-01 {
    font-size: 24px;
    font-weight: 500;
}

.headline-01::last-word {
    font-size: 24px;
    font-weight: 500;
    color: gold;
}

.headline-02 {
    font-size: 15px;
    font-weight: 300;
    color: gray;
}

.headline-03 {
    font-size: 17px;
    font-weight: 400;
    color: gray;
}

section[ng2-carouselamos] {
    width: 98% !important;
}

.cta-section {
    margin: 20px;
}