<section class="footer-container">
  <!--<span>&copy; All rights reserved. {{footer.copyrightCertificate}} - {{footer.copyrightedYear}}</span-->
  <section class="follow-us-container">
    <span class="title">Follow us</span>
    <ul>
      <li><mat-icon svgIcon="facebook"></mat-icon></li>
      <li><mat-icon svgIcon="twitter"></mat-icon></li>
      <li><mat-icon svgIcon="pinterest"></mat-icon></li>
      <li><mat-icon svgIcon="instagram"></mat-icon></li>
      <li><mat-icon svgIcon="google-plus"></mat-icon></li>
    </ul>
  </section>
  <section class="quicklinks-01">
    <ul>
      <li><a href="#">REVIEWS</a></li>
      <li><a href="#">STORE LOCATOR</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">ENTER MY POWER</a></li>
      <li><a href="#">BUYING GUIDE</a></li>
      <li><a href="#">FRAME SIZE</a></li>
      <li><a href="#">BE A FRANCHISE</a></li>
    </ul>
  </section>
  <section class="quicklinks-02">
    <ul>
      <li><a href="#">Download App</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">We are Hiring</a></li>
      <li><a href="#">Refer &amp; Earn</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">T&amp;C</a></li>
      <li><a href="#">Site Map</a></li>
      <li><a href="#">Disclaimer</a></li>
      <li><a href="#">Privacy</a></li>
    </ul>
  </section>
  <section class="quicklinks-03">
    <ul>
      <li><a href="#">Eyeglasses</a></li>
      <li><a href="#">Free Frame</a></li>
      <li><a href="#">Ray-Ban</a></li>
      <li><a href="#">Vincent Chase</a></li>
      <li><a href="#">John Jacobs</a></li>
      <li><a href="#">Full Rim</a></li>
      <li><a href="#">Half Rim</a></li>
      <li><a href="#">Rim Less</a></li>
      <li><a href="#">Cat Eye</a></li>
      <li><a href="#">Eye Checkup</a></li>
      <li><a href="#">Eyeglasses</a></li>
    </ul>
    <ul>
      <li><a href="#">Sunglasses</a></li>
      <li><a href="#">Ray Ban</a></li>
      <li><a href="#">Oakley</a></li>
      <li><a href="#">John Jacobs</a></li>
      <li><a href="#">Vincent Chase</a></li>
      <li><a href="#">Vogue</a></li>
      <li><a href="#">Aviator Style</a></li>
      <li><a href="#">Wayfarer Style</a></li>
      <li><a href="#">Eyewear Accessories</a></li>
      <li><a href="#">Sunglasses</a></li>
      <li><a href="#">Goggles</a></li>
    </ul>
    <ul>
      <li><a href="#">Contact Lenses</a></li>
      <li><a href="#">Bausch and lomb</a></li>
      <li><a href="#">Colour lenses</a></li>
      <li><a href="#">Daily disposable</a></li>
      <li><a href="#">Monthly disposable</a></li>
      <li><a href="#">Toric lenses</a></li>
      <li><a href="#">Johnson &amp; johnson</a></li>
      <li><a href="#">Cooper vision lenses</a></li>
      <li><a href="#">Acuvue</a></li>
      <li><a href="#">Purevision</a></li>
      <li><a href="#">Sitemap XML</a></li>
    </ul>
  </section>
</section>