<app-layout-header [sideNav]="sideNav" (isUseridentifiedChange)="displaySideBar($event)"></app-layout-header>
<app-layout-fly-menu></app-layout-fly-menu>
<app-layout-offers></app-layout-offers>
<!--<section class="main-container">
  <mat-sidenav-container>-->
    <!--<mat-sidenav #sideNav (click)="sideNav.toggle()" mode="side" [opened]="true">-->
    <!--<mat-sidenav #sideNav mode="side" [opened]="isUseridentified">
      <a routerLink="/elements">List Elements</a>
      <a routerLink="/tracker">Tracker</a>
      <a routerLink="/wishlist">Wishlist</a>
      <a routerLink="/cart">Cart</a>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>-->
<app-layout-footer></app-layout-footer>