<section class="nav-group">
  <section class="nav">
      <section class="nav-left">
          <ul class="nav-tablets-group">
              <li class="nav-tablet"><a href="#">Women</a>
                <div class="nav-tab-submenu-container">
                    <ul class="nav-image-tablet-group">
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png">
                          <div class="nav-submenu-container">
                            <div class="nav-submenu-text-aid">
                                <ul>
                                    <li><a href="#">Brands</a></li>
                                    <li><a href="#">John Jacobs</a></li>
                                    <li><a href="#">Ray-Ban</a></li>
                                    <li><a href="#">Vincent Chase</a></li>
                                    <li><a href="#">Oakley</a></li>
                                    <li><a href="#">Carrera</a></li>
                                    <li><a href="#">Tag Heuer</a></li>
                                    <li><a href="#">Thin Optics</a></li>
                                    <li><a href="#">Tommy Hilfiger</a></li>
                                    <li><a href="#">Calvin Klein</a></li>
                                    <li><a href="#">French Connection</a></li>
                                    <li><a href="#">Mask</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Shape</a></li>
                                    <li><a href="#">Rectangle</a></li>
                                    <li><a href="#">Wayfarer Style</a></li>
                                    <li><a href="#">Rounders</a></li>
                                    <li><a href="#">Clubmaster</a></li>
                                    <li><a href="#">Aviator Style</a></li>
                                    <li><a href="#">Cat Eye</a></li>
                                    <li><a href="#">Oval</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Style</a></li>
                                    <li><a href="#">Rimless</a></li>
                                    <li><a href="#">Half Rim</a></li>
                                    <li><a href="#">Full Rim</a></li>
                                    <li><a href="#">Cat Eye</a></li>
                                    <li><a href="#">Sport</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Size</a></li>
                                    <li><a href="#">Small</a></li>
                                    <li><a href="#">Medium</a></li>
                                    <li><a href="#">Large</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Price</a></li>
                                    <li><a href="#">Below Rs 1000</a></li>
                                    <li><a href="#">Rs 1500 - 2400</a></li>
                                    <li><a href="#">Rs 2400 +</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Collections</a></li>
                                    <li><a href="#">Light Weight</a></li>
                                    <li><a href="#">Cat Eye</a></li>
                                    <li><a href="#">Titanium</a></li>
                                    <li><a href="#">Metal</a></li>
                                    <li><a href="#">Plastic Acetate</a></li>
                                    <li><a href="#">Katrina Favorite</a></li>
                                    <li><a href="#">Thin Optics</a></li>
                                    <li><a href="#">Turn Tables</a></li>
                                    <li><a href="#">Fuzon</a></li>
                                    <li><a href="#">Steel Escobar</a></li>
                                    <li><a href="#">Specsy Collection</a></li>
                                </ul>
                            </div>
                            <div class="nav-submenu-visual-aid">
                                <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                <ul>
                                    <li><a href="#">Face Shape</a></li>
                                    <li><a href="#">Oval</a></li>
                                    <li><a href="#">Heart</a></li>
                                    <li><a href="#">Oblong</a></li>
                                    <li><a href="#">Square</a></li>
                                    <li><a href="#">Dimond</a></li>
                                    <li><a href="#">Round</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Age Group</a></li>
                                    <li><a href="#">18 - 40 years</a></li>
                                    <li><a href="#">40+ Years</a></li>
                                    <li><a href="#">Teens 10-18 Years</a></li>
                                    <li><a href="#">Kids &lt; 10 years</a></li>
                                </ul>
                            </div>
                          </div>
                        </li>
						<li><img src="https://static.lenskart.com/media/desktop/img/menu/premium-eyeglasses.png"></li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/sunglasses.png">
                            <div class="nav-submenu-container">
                                <div class="nav-submenu-text-aid">
                                    <ul>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">John Jacobs</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Vincent Chase</a></li>
                                        <li><a href="#">Oakley</a></li>
                                        <li><a href="#">Carrera</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Style</a></li>
                                        <li><a href="#">Aviator Style</a></li>
                                        <li><a href="#">Wayfarer Style</a></li>
                                        <li><a href="#">Mirror</a></li>
                                        <li><a href="#">Sport</a></li>
                                        <li><a href="#">Round</a></li>
                                        
                                    </ul>
                                    <ul>
                                        <li><a href="#">Size</a></li>
                                        <li><a href="#">Small</a></li>
                                        <li><a href="#">Medium</a></li>
                                        <li><a href="#">Large</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Below Rs 500</a></li>
                                        <li><a href="#">Below Rs 1000</a></li>
                                        <li><a href="#">Rs 1000 - Rs 2000</a></li>
                                        <li><a href="#">Rs 2000 +</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Best Selling Collections</a></li>
                                        <li><a href="#">The European Styles</a></li>
                                        <li><a href="#">Popstars</a></li>
                                        <li><a href="#">Polarized</a></li>
                                        <li><a href="#">Sunsetters</a></li>
                                    </ul>
                                </div>
                                <div class="nav-submenu-visual-aid">
                                    <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                    <ul>
                                        <li><a href="#">Face Shape</a></li>
                                        <li><a href="#">Oval</a></li>
                                        <li><a href="#">Heart</a></li>
                                        <li><a href="#">Oblong</a></li>
                                        <li><a href="#">Square</a></li>
                                        <li><a href="#">Dimond</a></li>
                                        <li><a href="#">Round</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/power-sunglasses.png">
                            <div class="nav-submenu-container">
                                <div class="nav-submenu-text-aid">
                                    <ul>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">John Jacobs</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Vincent Chase</a></li>
                                        <li><a href="#">Oakley</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Style</a></li>
                                        <li><a href="#">Aviator Style</a></li>
                                        <li><a href="#">Wayfarer Style</a></li>
                                        <li><a href="#">Sport</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Size</a></li>
                                        <li><a href="#">Small</a></li>
                                        <li><a href="#">Medium</a></li>
                                        <li><a href="#">Large</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Value</a></li>
                                        <li><a href="#">Premium</a></li>
                                        <li><a href="#">Luxury</a></li>
                                    </ul>
                                </div>
                                <div class="nav-submenu-visual-aid">
                                    <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                    <ul>
                                        <li><a href="#">Latest Collections</a></li>
                                        <li><a href="#">Nomades</a></li>
                                        <li><a href="#">Topguns</a></li>
                                        <li><a href="#">Revo</a></li>
                                        <li><a href="#">Kitty Perry</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/contact-lenses.png">
                            <div class="nav-submenu-container">
                                <div class="nav-submenu-text-aid">
                                    <ul>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Bausch and Lomb</a></li>
                                        <li><a href="#">Johnson &amp; Johnson</a></li>
                                        <li><a href="#">AlconAcme</a></li>
                                        <li><a href="#">Silklens</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Lens Type</a></li>
                                        <li><a href="#">Monthly Disposable</a></li>
                                        <li><a href="#">Daily Disposable</a></li>
                                        <li><a href="#">Yearly Disposable</a></li>
                                        <li><a href="#">2 Week Disposable</a></li>
                                        <li><a href="#">Day &amp; Night Lenses</a></li>
                                        <li><a href="#">Toric</a></li>
                                        <li><a href="#">Bifocal</a></li>
                                        <li><a href="#">Coloured Lenses</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Most Popular Lenses</a></li>
                                        <li><a href="#">Soflens</a></li>
                                        <li><a href="#">iConnect</a></li>
                                        <li><a href="#">Acuvue</a></li>
                                        <li><a href="#">Purevision</a></li>
                                        <li><a href="#">FocusFreshlook</a></li>
                                        <li><a href="#">FrequencyDailies</a></li>
                                        <li><a href="#">Optix</a></li>
                                        <li><a href="#">Proclear</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Upto Rs.500</a></li>
                                        <li><a href="#">Rs.500 - 1000</a></li>
                                        <li><a href="#">Rs.1000 - 1500</a></li>
                                        <li><a href="#">Rs.1500 &amp; Above</a></li>
                                    </ul>
                                </div>
                                <div class="nav-submenu-visual-aid">
                                    <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                    <ul>
                                        <li><a href="#">Lens Solutions</a></li>
                                        <li><a href="#">Small</a></li>
                                        <li><a href="#">Large</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
              </li>
              <li class="nav-tablet"><a href="#">Men</a>
                <div class="nav-tab-submenu-container">
                    <ul class="nav-image-tablet-group">
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png">
                          <div class="nav-submenu-container">
                            <div class="nav-submenu-text-aid">
                                <ul>
                                    <li><a href="#">Brands</a></li>
                                    <li><a href="#">John Jacobs</a></li>
                                    <li><a href="#">Ray-Ban</a></li>
                                    <li><a href="#">Vincent Chase</a></li>
                                    <li><a href="#">Oakley</a></li>
                                    <li><a href="#">Carrera</a></li>
                                    <li><a href="#">Tag Heuer</a></li>
                                    <li><a href="#">Thin Optics</a></li>
                                    <li><a href="#">Tommy Hilfiger</a></li>
                                    <li><a href="#">Calvin Klein</a></li>
                                    <li><a href="#">French Connection</a></li>
                                    <li><a href="#">Mask</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Shape</a></li>
                                    <li><a href="#">Rectangle</a></li>
                                    <li><a href="#">Wayfarer Style</a></li>
                                    <li><a href="#">Rounders</a></li>
                                    <li><a href="#">Clubmaster</a></li>
                                    <li><a href="#">Aviator Style</a></li>
                                    <li><a href="#">Cat Eye</a></li>
                                    <li><a href="#">Oval</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Style</a></li>
                                    <li><a href="#">Rimless</a></li>
                                    <li><a href="#">Half Rim</a></li>
                                    <li><a href="#">Full Rim</a></li>
                                    <li><a href="#">Cat Eye</a></li>
                                    <li><a href="#">Sport</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Size</a></li>
                                    <li><a href="#">Small</a></li>
                                    <li><a href="#">Medium</a></li>
                                    <li><a href="#">Large</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Price</a></li>
                                    <li><a href="#">Below Rs 1000</a></li>
                                    <li><a href="#">Rs 1500 - 2400</a></li>
                                    <li><a href="#">Rs 2400 +</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Collections</a></li>
                                    <li><a href="#">Light Weight</a></li>
                                    <li><a href="#">Cat Eye</a></li>
                                    <li><a href="#">Titanium</a></li>
                                    <li><a href="#">Metal</a></li>
                                    <li><a href="#">Plastic Acetate</a></li>
                                    <li><a href="#">Katrina Favorite</a></li>
                                    <li><a href="#">Thin Optics</a></li>
                                    <li><a href="#">Turn Tables</a></li>
                                    <li><a href="#">Fuzon</a></li>
                                    <li><a href="#">Steel Escobar</a></li>
                                    <li><a href="#">Specsy Collection</a></li>
                                </ul>
                            </div>
                            <div class="nav-submenu-visual-aid">
                                <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                <ul>
                                    <li><a href="#">Face Shape</a></li>
                                    <li><a href="#">Oval</a></li>
                                    <li><a href="#">Heart</a></li>
                                    <li><a href="#">Oblong</a></li>
                                    <li><a href="#">Square</a></li>
                                    <li><a href="#">Dimond</a></li>
                                    <li><a href="#">Round</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Age Group</a></li>
                                    <li><a href="#">18 - 40 years</a></li>
                                    <li><a href="#">40+ Years</a></li>
                                    <li><a href="#">Teens 10-18 Years</a></li>
                                    <li><a href="#">Kids &lt; 10 years</a></li>
                                </ul>
                            </div>
                          </div>
                        </li>
						<li><img src="https://static.lenskart.com/media/desktop/img/menu/premium-eyeglasses.png"></li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/sunglasses.png">
                            <div class="nav-submenu-container">
                                <div class="nav-submenu-text-aid">
                                    <ul>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">John Jacobs</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Vincent Chase</a></li>
                                        <li><a href="#">Oakley</a></li>
                                        <li><a href="#">Carrera</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Style</a></li>
                                        <li><a href="#">Aviator Style</a></li>
                                        <li><a href="#">Wayfarer Style</a></li>
                                        <li><a href="#">Mirror</a></li>
                                        <li><a href="#">Sport</a></li>
                                        <li><a href="#">Round</a></li>
                                        
                                    </ul>
                                    <ul>
                                        <li><a href="#">Size</a></li>
                                        <li><a href="#">Small</a></li>
                                        <li><a href="#">Medium</a></li>
                                        <li><a href="#">Large</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Below Rs 500</a></li>
                                        <li><a href="#">Below Rs 1000</a></li>
                                        <li><a href="#">Rs 1000 - Rs 2000</a></li>
                                        <li><a href="#">Rs 2000 +</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Best Selling Collections</a></li>
                                        <li><a href="#">The European Styles</a></li>
                                        <li><a href="#">Popstars</a></li>
                                        <li><a href="#">Polarized</a></li>
                                        <li><a href="#">Sunsetters</a></li>
                                    </ul>
                                </div>
                                <div class="nav-submenu-visual-aid">
                                    <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                    <ul>
                                        <li><a href="#">Face Shape</a></li>
                                        <li><a href="#">Oval</a></li>
                                        <li><a href="#">Heart</a></li>
                                        <li><a href="#">Oblong</a></li>
                                        <li><a href="#">Square</a></li>
                                        <li><a href="#">Dimond</a></li>
                                        <li><a href="#">Round</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/power-sunglasses.png">
                            <div class="nav-submenu-container">
                                <div class="nav-submenu-text-aid">
                                    <ul>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">John Jacobs</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Vincent Chase</a></li>
                                        <li><a href="#">Oakley</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Style</a></li>
                                        <li><a href="#">Aviator Style</a></li>
                                        <li><a href="#">Wayfarer Style</a></li>
                                        <li><a href="#">Sport</a></li>
                                        
                                    </ul>
                                    <ul>
                                        <li><a href="#">Size</a></li>
                                        <li><a href="#">Small</a></li>
                                        <li><a href="#">Medium</a></li>
                                        <li><a href="#">Large</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Value</a></li>
                                        <li><a href="#">Premium</a></li>
                                        <li><a href="#">Luxury</a></li>
                                    </ul>
                                </div>
                                <div class="nav-submenu-visual-aid">
                                    <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                    <ul>
                                        <li><a href="#">Latest Collections</a></li>
                                        <li><a href="#">Nomades</a></li>
                                        <li><a href="#">Topguns</a></li>
                                        <li><a href="#">Revo</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/contact-lenses.png">
                            <div class="nav-submenu-container">
                                <div class="nav-submenu-text-aid">
                                    <ul>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Bausch and Lomb</a></li>
                                        <li><a href="#">Johnson &amp; Johnson</a></li>
                                        <li><a href="#">AlconAcme</a></li>
                                        <li><a href="#">Silklens</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Lens Type</a></li>
                                        <li><a href="#">Monthly Disposable</a></li>
                                        <li><a href="#">Daily Disposable</a></li>
                                        <li><a href="#">Yearly Disposable</a></li>
                                        <li><a href="#">2 Week Disposable</a></li>
                                        <li><a href="#">Day &amp; Night Lenses</a></li>
                                        <li><a href="#">Toric</a></li>
                                        <li><a href="#">Bifocal</a></li>
                                        <li><a href="#">Coloured Lenses</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Most Popular Lenses</a></li>
                                        <li><a href="#">Soflens</a></li>
                                        <li><a href="#">iConnect</a></li>
                                        <li><a href="#">Acuvue</a></li>
                                        <li><a href="#">Purevision</a></li>
                                        <li><a href="#">FocusFreshlook</a></li>
                                        <li><a href="#">FrequencyDailies</a></li>
                                        <li><a href="#">Optix</a></li>
                                        <li><a href="#">Proclear</a></li>
                                    </ul>
                                    <ul>
                                        <li><a href="#">Price</a></li>
                                        <li><a href="#">Upto Rs.500</a></li>
                                        <li><a href="#">Rs.500 - 1000</a></li>
                                        <li><a href="#">Rs.1000 - 1500</a></li>
                                        <li><a href="#">Rs.1500 &amp; Above</a></li>
                                    </ul>
                                </div>
                                <div class="nav-submenu-visual-aid">
                                    <span><a href="#"><img src="~/../assets/vincent-chase-vc-e11267-brown-blue-tortoise-c3-eyeglasses_g_9179.png" width="383" height="166"/></a></span>
                                    <ul>
                                        <li><a href="#">Lens Solutions</a></li>
                                        <li><a href="#">Small</a></li>
                                        <li><a href="#">Large</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                  </div>
              </li>
              <li class="nav-tablet"><a href="#">Accessories</a>
                <div class="nav-tab-submenu-container">
                    <ul class="nav-image-tablet-group">
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png">
                          <div class="nav-submenu-container">
                            <div class="nav-submenu-text-aid">
                                <ul>
                                    <li><a href="#">New in</a></li>
                                    <li><a href="#">New in Shoes</a></li>
                                    <li><a href="#">New in Bags</a></li>
                                    <li><a href="#">New in Wears</a></li>
                                    <li><a href="#">New in Glass</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Bags</a></li>
                                    <li><a href="#">Purses</a></li>
                                    <li><a href="#">Backpacks</a></li>
                                    <li><a href="#">Hand bags</a></li>
                                    <li><a href="#">Laptop bags</a></li>
                                    <li><a href="#">Executive bags</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="#">Casual shoes</a></li>
                                    <li><a href="#">Formal shoes</a></li>
                                    <li><a href="#">Floaters</a></li>
                                    <li><a href="#">Flipflops</a></li>
                                    <li><a href="#">Heels</a></li>
                                    <li><a href="#">Flats</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Bags</a></li>
                                    <li><a href="#">Purses</a></li>
                                    <li><a href="#">Backpacks</a></li>
                                    <li><a href="#">Hand bags</a></li>
                                    <li><a href="#">Laptop bags</a></li>
                                    <li><a href="#">Executive bags</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="#">Casual shoes</a></li>
                                    <li><a href="#">Formal shoes</a></li>
                                    <li><a href="#">Floaters</a></li>
                                    <li><a href="#">Flipflops</a></li>
                                    <li><a href="#">Heels</a></li>
                                    <li><a href="#">Flats</a></li>
                                </ul>
        
                                <ul>
                                    <li><a href="#">Shoes</a></li>
                                    <li><a href="#">Casual shoes</a></li>
                                    <li><a href="#">Formal shoes</a></li>
                                    <li><a href="#">Floaters</a></li>
                                    <li><a href="#">Flipflops</a></li>
                                    <li><a href="#">Heels</a></li>
                                    <li><a href="#">Flats</a></li>
                                </ul>
                            </div>
                            <div class="nav-submenu-visual-aid">
                                <span><a href="#"><img src="~/../assets/FestiveStore_TopNav-26092017.jpg"/></a></span>
                                <ul>
                                    <li><a href="#">Old in</a></li>
                                    <li><a href="#">Old in Shoes</a></li>
                                    <li><a href="#">Old in Bags</a></li>
                                    <li><a href="#">Old in Wears</a></li>
                                    <li><a href="#">Old in Glass</a></li>
                                </ul>
                            </div>
                          </div>
                        </li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                        <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                    </ul>
                  </div>
              </li>
              <li class="nav-tablet"><a href="#">Sales</a>
                <div class="nav-tab-submenu-container">
                  <ul class="nav-image-tablet-group">
                      <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png">
                        <div class="nav-submenu-container">
                          <div class="nav-submenu-text-aid">
                              <ul>
                                  <li><a href="#">New in</a></li>
                                  <li><a href="#">New in Shoes</a></li>
                                  <li><a href="#">New in Bags</a></li>
                                  <li><a href="#">New in Wears</a></li>
                                  <li><a href="#">New in Glass</a></li>
                              </ul>
                              <ul>
                                  <li><a href="#">Bags</a></li>
                                  <li><a href="#">Purses</a></li>
                                  <li><a href="#">Backpacks</a></li>
                                  <li><a href="#">Hand bags</a></li>
                                  <li><a href="#">Laptop bags</a></li>
                                  <li><a href="#">Executive bags</a></li>
                              </ul>
                              <ul>
                                  <li><a href="#">Shoes</a></li>
                                  <li><a href="#">Casual shoes</a></li>
                                  <li><a href="#">Formal shoes</a></li>
                                  <li><a href="#">Floaters</a></li>
                                  <li><a href="#">Flipflops</a></li>
                                  <li><a href="#">Heels</a></li>
                                  <li><a href="#">Flats</a></li>
                              </ul>
                              <ul>
                                  <li><a href="#">Bags</a></li>
                                  <li><a href="#">Purses</a></li>
                                  <li><a href="#">Backpacks</a></li>
                                  <li><a href="#">Hand bags</a></li>
                                  <li><a href="#">Laptop bags</a></li>
                                  <li><a href="#">Executive bags</a></li>
                              </ul>
                              <ul>
                                  <li><a href="#">Shoes</a></li>
                                  <li><a href="#">Casual shoes</a></li>
                                  <li><a href="#">Formal shoes</a></li>
                                  <li><a href="#">Floaters</a></li>
                                  <li><a href="#">Flipflops</a></li>
                                  <li><a href="#">Heels</a></li>
                                  <li><a href="#">Flats</a></li>
                              </ul>
      
                              <ul>
                                  <li><a href="#">Shoes</a></li>
                                  <li><a href="#">Casual shoes</a></li>
                                  <li><a href="#">Formal shoes</a></li>
                                  <li><a href="#">Floaters</a></li>
                                  <li><a href="#">Flipflops</a></li>
                                  <li><a href="#">Heels</a></li>
                                  <li><a href="#">Flats</a></li>
                              </ul>
                          </div>
                          <div class="nav-submenu-visual-aid">
                              <span><a href="#"><img src="~/../assets/FestiveStore_TopNav-26092017.jpg"/></a></span>
                              <ul>
                                  <li><a href="#">Old in</a></li>
                                  <li><a href="#">Old in Shoes</a></li>
                                  <li><a href="#">Old in Bags</a></li>
                                  <li><a href="#">Old in Wears</a></li>
                                  <li><a href="#">Old in Glass</a></li>
                              </ul>
                          </div>
                        </div>
                      </li>
                      <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                      <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                      <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                      <li><img src="https://static.lenskart.com/media/desktop/img/menu/eyeglasses.png"></li>
                  </ul>
                </div>
              </li>
              <li class="nav-tablet"><a href="#">The Juice</a></li>
          </ul>
      </section>
      <!--<section class="nav-right">
          <section class="lenskart-searchbox-container">
              <input class="lenskart-searchbox" type="search" placeholder="BE YOUR SEARCH YOUR STYLE"/>
          </section>
      </section>-->
  </section>
</section>