<section class="nav-group">
  <section class="nav">
      <section class="nav-left">
          <ul>
              <li><a href="#">Women</a>
                  <div class="nav-submenu-container">
                      <div class="nav-submenu-text-aid">
                          <ul>
                              <li><a href="#">New in</a></li>
                              <li><a href="#">New in Shoes</a></li>
                              <li><a href="#">New in Bags</a></li>
                              <li><a href="#">New in Wears</a></li>
                              <li><a href="#">New in Glass</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Bags</a></li>
                              <li><a href="#">Purses</a></li>
                              <li><a href="#">Backpacks</a></li>
                              <li><a href="#">Hand bags</a></li>
                              <li><a href="#">Laptop bags</a></li>
                              <li><a href="#">Executive bags</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Shoes</a></li>
                              <li><a href="#">Casual shoes</a></li>
                              <li><a href="#">Formal shoes</a></li>
                              <li><a href="#">Floaters</a></li>
                              <li><a href="#">Flipflops</a></li>
                              <li><a href="#">Heels</a></li>
                              <li><a href="#">Flats</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Bags</a></li>
                              <li><a href="#">Purses</a></li>
                              <li><a href="#">Backpacks</a></li>
                              <li><a href="#">Hand bags</a></li>
                              <li><a href="#">Laptop bags</a></li>
                              <li><a href="#">Executive bags</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Shoes</a></li>
                              <li><a href="#">Casual shoes</a></li>
                              <li><a href="#">Formal shoes</a></li>
                              <li><a href="#">Floaters</a></li>
                              <li><a href="#">Flipflops</a></li>
                              <li><a href="#">Heels</a></li>
                              <li><a href="#">Flats</a></li>
                          </ul>

                          <ul>
                              <li><a href="#">Shoes</a></li>
                              <li><a href="#">Casual shoes</a></li>
                              <li><a href="#">Formal shoes</a></li>
                              <li><a href="#">Floaters</a></li>
                              <li><a href="#">Flipflops</a></li>
                              <li><a href="#">Heels</a></li>
                              <li><a href="#">Flats</a></li>
                          </ul>
                      </div>
                      <div class="nav-submenu-visual-aid">
                          <span><a href="#"><img src="../../../assets/FestiveStore_TopNav-26092017.jpg"/></a></span>
                          <ul>
                              <li><a href="#">Old in</a></li>
                              <li><a href="#">Old in Shoes</a></li>
                              <li><a href="#">Old in Bags</a></li>
                              <li><a href="#">Old in Wears</a></li>
                              <li><a href="#">Old in Glass</a></li>
                          </ul>
                      </div>
                  </div>
              </li>
              <li><a href="#">Men</a>
                  <div class="nav-submenu-container">
                      <div class="nav-submenu-text-aid">
                          <ul>
                              <li><a href="#">New in</a></li>
                              <li><a href="#">New in Shoes</a></li>
                              <li><a href="#">New in Bags</a></li>
                              <li><a href="#">New in Wears</a></li>
                              <li><a href="#">New in Glass</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Bags</a></li>
                              <li><a href="#">Wallets</a></li>
                              <li><a href="#">Backpacks</a></li>
                              <li><a href="#">Laptop bags</a></li>
                              <li><a href="#">Executive bags</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Shoes</a></li>
                              <li><a href="#">Casual shoes</a></li>
                              <li><a href="#">Formal shoes</a></li>
                              <li><a href="#">Floaters</a></li>
                              <li><a href="#">Flipflops</a></li>
                              <li><a href="#">Sports shoes</a></li>
                          </ul>
                      </div>
                      <div class="nav-submenu-visual-aid">
                          <span><a href="#"><img src="../../../assets/FestiveStore_TopNav-26092017.jpg"/></a></span>
                          <ul>
                              <li><a href="#">Old in</a></li>
                              <li><a href="#">Old in Shoes</a></li>
                              <li><a href="#">Old in Bags</a></li>
                              <li><a href="#">Old in Wears</a></li>
                              <li><a href="#">Old in Glass</a></li>
                          </ul>
                      </div>
                  </div>
              </li>
              <li><a href="#">Accessories</a>
                  <div class="nav-submenu-container">
                      <div class="nav-submenu-text-aid">
                          <ul>
                              <li><a href="#">Women watches</a></li>
                              <li><a href="#">Analog</a></li>
                              <li><a href="#">Dial</a></li>
                              <li><a href="#">Chronograph</a></li>
                              <li><a href="#">Digital</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Men Bags</a></li>
                              <li><a href="#">Wallets</a></li>
                              <li><a href="#">Backpacks</a></li>
                              <li><a href="#">Laptop bags</a></li>
                              <li><a href="#">Executive bags</a></li>
                              <li><a href="#">Sleeves & Slings</a></li>
                          </ul>
                          <ul>
                              <li><a href="#">Men watches</a></li>
                              <li><a href="#">Analog</a></li>
                              <li><a href="#">Dial</a></li>
                              <li><a href="#">Chronograph</a></li>
                              <li><a href="#">Digital</a></li>
                              <li><a href="#">Cases</a></li>
                          </ul>
                      </div>
                      <div class="nav-submenu-visual-aid">
                          <span><a href="#"><img src="../../../assets/FestiveStore_TopNav-26092017.jpg"/></a></span>
                          <ul>
                              <li><a href="#">Old in</a></li>
                              <li><a href="#">Old in Shoes</a></li>
                              <li><a href="#">Old in Bags</a></li>
                              <li><a href="#">Old in Wears</a></li>
                              <li><a href="#">Old in Glass</a></li>
                          </ul>
                      </div>
                  </div>
              </li>
              <li><a href="#">Sales</a></li>
              <li><a href="#">The Juice</a></li>
          </ul>
      </section>
      <!--<section class="nav-right">
          <section class="lenskart-searchbox-container">
              <input class="lenskart-searchbox" type="search" placeholder="BE YOUR SEARCH YOUR STYLE"/>
          </section>
      </section>-->
  </section>
</section>